:root {
    /* Colors */

    --light-blue-color: hsl(178, 60%, 48%);
    --light-blue-hover: hsl(178, 75%, 65%);
    --light-yellow-color: hsl(39, 88%, 58%);
    --light-yellow-hover: hsl(39, 100%, 69%);
    --dark-navy-color: hsl(202, 32%, 15%);
    --semi-dark-navy: hsl(199, 35%, 19%);
    --silver-color: hsl(198, 23%, 72%);
    --silver-hover-color: hsl(197, 33%, 89%);

    /* Font Sizes */
    
    --font-family-default: "Outfit", sans-serif;
    --h1-heading-font-size: 2.5rem;
    --h2-heading-font-size: 1.5rem;
    --h3-heading-font-size: 1.25rem;
    --xs-heading-font-size: 1rem;
    --body-font-size: 0.875rem;

    /* Letter Spacing */

    --h1-letter-spacing-size: 0.156rem;
    --h2-letter-spacing-size: 0.094rem;
    --h3-letter-spacing-size: 0.078rem;
    --xs-heading-spacing-size: 0.063rem;
    --body-letter-spacing-size: 0.055rem;

    /* Screen Size */

    --small-mobile-screen: 20rem;
    --large-mobile-screen: 23.438rem;

    --small-tablet-screen: 36rem;
    --medium-tablet-screen: 48rem;
    --large-tablet-screen: 64rem;

    --xtra-small-desktop-screen: 73.125rem;
    --small-desktop-screen: 90rem;
    --medium-desktop-screen: 93.75rem;
    --large-desktop-screen: 128rem;
    --ultra-large-desktop-screen: 160rem;
}

@media screen and (max-width: var(--small-mobile-screen)) {
    body {
        max-width: var(--small-mobile-screen);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,.unselected-btn {
    background: var(--dark-navy-color);
}

.grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice-itm {
    width: 25%;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: inherit;
    padding: 0.6rem;
}

.o-outline,.x-outline {
    font-size: 10px;
}

.header {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.instruction__txt {
    background: initial;
}

.instructions {
    background: var(--semi-dark-navy);
    width: 280px;
    height: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
}

.mark-div {
    width: 90%;
    border-radius: 0.625rem;
    padding: 0.55rem 0 0.55rem 0;
}

.start-screen-title,.instructions-subtitle {
    color: var(--silver-color);
}

.start-screen-title {
    font-size: var(--xs-heading-font-size);
}

.instructions-subtitle {
    font-size: var(--body-font-size);
    opacity: .5;
}

.choice__img-start button {
    width: 45%;
    border-radius: 10px;
}

.choice__img-start {
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-inactive {
    fill: var(--silver-color);
    stroke: var(--dark-navy-color);
}

.chosen {
    background-color: var(--silver-color);
}

.choice-active {
    fill: var(--dark-navy-color);
    stroke: var(--silver-color);
}

.game__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#btn-cpu,#btn-player {
    border: none;
    border-radius: 5px;
    color: var(--dark-navy-color);
    padding: 0.75rem 3rem;
    text-transform: uppercase;
}

#btn-cpu {
    background-color: var(--light-yellow-color);
}

#btn-player {
    background-color: var(--light-blue-color);
}

.new__game-cpu {
    margin-bottom: 1.15rem;
}

.grid-choice-card {
    fill: var(--light-blue-color);
    stroke: var(--light-blue-color);
    background: var(--semi-dark-navy);
}

#gameBoard {
    display: flex;
    align-items: center;
    justify-content: center;
}